@media screen and (min-width: 601px) {

    .editor{
        display: flex;
        flex-direction: column;
        height: 100vh;
        min-width: 50vw;
    }
    
    .editor__body{
        display: flex;
        justify-content:space-around;
    
    }
    .editor__output{
        height: 85vh;
    }
    .editor__output>*{
        width: 48vw;
        flex: 1;
        border: 0.1rem solid #ccc;
        height: 85vh;
        margin-top: 10px;
    }
    
    .editor__aceEditor>*{
        flex: 1;
        border: 0.1rem solid #ccc;    
        min-width: 48vw;
        margin-top: 10px;
    }
    .editor__aceEditor{
        height: 85vh;
    }
    .editor__navbar{
        background-color: beige;
        display: flex;
        justify-content: flex-start;
    }
    .editor__navbar>button{
        background-color: #04AA6D;
        color: whitesmoke;
        font-size: large;
        font-weight: 400;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid black;
        border-radius: 5px;
        margin: 10px;
    }
}

@media screen and (max-width: 600px) {
    .editor{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 96vw;
        
    }
    
    .editor__body{
        display: flex;
        flex-direction: column;   
        
    }
    .editor__output{
        height: 85vh;
        margin-top: 10px;
    }
    .editor__output>*{
        width: 90vw;
        flex: 1;
        border: 0.1rem solid #ccc;
        height: 85vh;
        margin-top: 10px;
    }
    
    .editor__aceEditor>*{
        flex: 1;
        border: 0.1rem solid #ccc;      
        min-width: 50vw;
        margin-top: 10px;
    }
    .editor__aceEditor{
        height: 85vh;
    }

    .editor__navbar{
        background-color: beige;
        width: 96vw;
        margin-left: 7px;
        display: flex;
        justify-content: center;
       
    }
    .editor__navbar>button{
        background-color: #04AA6D;
        color: whitesmoke;
        font-size: large;
        font-weight: 400;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid black;
        border-radius: 5px;
        margin: 10px;
    }
    
  }